*#
*.#*
*.diff
*.iml
*.ipr
*.iws
*~
*.swp
.DS_Store
/.sass-cache
/.bundle
/.idea
/.rvmrc
/REVISION
/config/database.yml
/coverage/**/*
/db/*sqlite3
/db/schema.rb
/doc/api
/doc/app
/log
/nbproject/*
/public/ckeditor_assets
/public/javascripts/bundle_packaged.js
/public/stylesheets/*.css
/public/system
/spec/fixtures/**/*
/public/uploads
/test/*
/tmp/*
/tmp/**/*
/system/*
/system/**/*
/vendor/bundle
/vendor/bundle
/vendor/cache
/vendor/cache
/wireframes/**/*
/db/schema.rb
TAGS
tmtags
tags
/public/sitemap

