<div class="header-reviews"><span></span><p><strong><%= comment.user_name %></strong><%= comment.created_at.strftime('%d.%m.%y') %></p></div>
<div class="content-reviews">
    <%= comment.description %>
<p class="link-top0"><a href="#" class="link">Ответить</a></p>
</div>
