<div class='coontent content-indent1'>
    <div class="row-box4">
        <div class="clear">
            <!--right-->
            <div class="col-right fright">
                <h3 class="title-star title-bottom">
                    <em><%= @page.title %></em>
                    <em class="star-link">
                        <span><a href="#"></a><a href="#"></a><a href="#"></a></span><a href="#"></a><a href="#"></a>
                    </em>
                </h3>
                <div class="text-box clear">
                    <div class="col-1 fleft">
                        <h4 class="marker1">Стоимость билета:</h4>
                        <div class="text-indent">Взрослый: 200 THB <p>Детский: 100 THB</p></div>
                    </div>
                    <div class="col-2 fleft">
                        <h4 class="marker2">Часы работы:</h4>
                        <div class="text-indent1">08:00-19:00</div>
                    </div>
                    <div class="col-3 fleft">
                        <h4 class="marker3">Расположение:</h4>
                        <div class="text-indent">2/2 Moo 2, Viset Rd. Tambon Rawai, <p>A. Muang, Phuket 83130 </p></div>
                    </div>
                </div>
                <p class="indent-top1">
                    <%= raw @page.content %>
                </p>
                <% if @page.photos.present? %>
                    <h3 class="title-text title-text-top">Галерея</h3>
                    <!--slider-->
                    <div class="row-slider clear txt1" id='carousel'>
                        <a class="slider-left txt"></a>
                        <a class="slider-right txt"></a>
                        <ul class="slider list0 txt" id='gallery'>
                            <% @page.photos.each do |p| %>
                                <li>
                                    <%= link_to p.file.url, :class => 'fancybox', :rel => 'fancybox' do %>
                                        <%= image_tag(p.file.url(:thumb)) %>
                                    <% end %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
        </div>
    </div>
</div>