<h3>
  <div id="page_title" class="mercury-region clear" data-type="editable">
    <%= @page.title %>
  </div>
</h3>
<div id="page_content" class="mercury-region clear" data-type="editable">
    <%= raw @page.content %>
</div>
<% if current_admin_user %>
    <%= link_to "Edit Page", "/editor#{page_path(@page)}", :id => "edit_link", :data => {:save_url => mercury_update_admin_page_path(@page)} %>
<% end %>
