// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:
ul {list-style: none;}
.row-pages{ border-top: 1px solid #6A7176; padding:15px 0 44px 10px;}
.row-pages li{ margin-right:3px;}
.row-pages li a{ background:#FFF; width:17px; text-align:center; color:#29a9cb; font-size:12px; text-decoration:none;}
.row-pages li a:hover, .row-pages li a.current{ background:url(/assets/page_bg.gif) 0 0 repeat-x; border:1px solid #2771aa; color:#FFF;}
.list0 li, .list0 li a{ display:block; float:left;}
