<div class="header clear">
    <h1>
        <%= link_to root_path, :class => 'logo txt', :title => 'Saygo' do %>
            <span class="slogan txt">Мир путешествий</span>
        <% end %>
    </h1>
</div>
<div class='clear'><%= render_navigation %></div>
